html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Hind', 'Helvetica Neue', Arial, sans-serif;
  color: #191716;
}

.header-toolbar {
  height: 60px;
  min-height: 60px;
  padding: 10px;
}

.header-logo {
  width: 20px;
  vertical-align: middle;
}

a.header-link,
a.header-link:active,
a.header-link:visited,
a.header-link:hover {
  text-decoration: none;
  color: #fff;
  outline: 0;
}

.container {
  padding: 30px;
}

.center-progress {
  margin: auto;
}

.index-search-container {
  background: url('/static/img/capitol-bg.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.index-search-container .tagline-1 {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}

.index-search-container .tagline-2 {
  margin-top: 10px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
}

.search-panel {
  margin: auto;
  width: calc(100% - 40px);
  max-width: 600px;
  text-align: center;
  margin-top: 30px;
}

.address-input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  overflow: visible;
  height: 40px;

  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.address-input {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background: #fff;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
}

.search-toggle {
  margin-top: 30px;
}

a.search-toggle-link,
a.search-toggle-link:visited {
  text-decoration: none;
}

a.search-toggle-link:hover {
  color: #555 !important;
}

.index-desc-container,
.index-reminder-container {
  background-color: #383D3B;
  color: #fff;
  text-align: center;
}

.container .centered-block {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.index-how-it-works-container {
  text-align: center;
}

.container .headline {
  font-size: 24px;
}

/* Possibly due to https://github.com/angular/material/issues/6214
 * the vertical alignment of a text and select input on the same line
 * is broken */
md-input-container.hide-error-msg .md-errors-spacer:empty {
  display: none;
}
.index-reminder-container .reminder-form .hack-email-alignment {
  position: relative;
  top: 3px;
}

.index-reminder-container .reminder-form-panel {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.index-reminder-container .reminder-form {
  text-align: left;
  background-color: #fff;
  padding: 20px;
  border-radius: 2px;
  color: rgba(0,0,0,0.87)
}

.reminder-form .submit-button {
  text-align: center;
}

h1.district-header {
  text-align: center;
  font-weight: 400;
}

h2.leadership-header {
  text-align: center;
  font-weight: 400;
  padding-top: 30px;
}

h1.invalid-district {
  text-align: center;
  font-weight: 400;
}

.rep-card {
  max-width: 400px;
}

.rep-card .rep-photo-wrapper {
  text-align: right;
}

.rep-card .rep-photo {
  max-width: 100%;
  max-height: 100%;
}

.rep-card .phone {
  margin-top: 10px;
}

h1.compose-page-title,
h3.tips-title {
  font-weight: 400;
  text-align: center;
}

.compose-wrapper {
  max-width: 700px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: auto;
  padding: 25px;
  font-size: 16px;
  line-height: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.compose-header {
  padding-bottom: 10px;
}

.compose-header,
.compose-wrapper textarea {
  font-family: 'Lora', serif;
  line-height: 20px;
}

.compose-rep-card {
  margin: auto;
}

.compose-header-section {
  margin-bottom: 16px;
}

.compose-column {
  width: 100%;
}

.compose-column form.generate-form {
  display: inline-block;
}

.compose-button-panel {
  margin-top: 20px;
  text-align: center;
}

.after-compose-panel {
  max-width: 500px;
  margin: 20px auto 0 auto;
}

.center-text {
  text-align: center;
}

.compose-reminder-panel {
  margin-top: 10px;
}

.footer {
  text-align: center;
  width: 100%;
  height: 45px;
  padding-top: 10px;
  font-size: 14px;
  background-color: #607D8B;
  color: #fff;
}

.footer a,
.footer a:hover,
.footer a:visited,
.footer a:active {
  text-decoration: none;
  outline: 0;
  color: #fff;
}

.footer a:hover {
  color: #ddd;
}

.footer .email-link {
  margin: 0 10px;
}

.footer .github-icon {
  vertical-align: middle;
}
