<script type="text/ng-template" id="navbar-template">
  <md-toolbar class="header-toolbar">
    <div layout="row" flex>
      <div flex="50">
        <a href="/" class="header-link">
          <img src="/static/img/logo-white.svg" class="header-logo"/>
          <span hide-xs>
            Write to the Government
          </span>
          <span hide-gt-xs>
            Write to the Gov.
          </span>
        </a>
      </div>
      <div flex="50" class="social-widgets">
        <div class="fb-like" data-href="https://www.writetogov.com" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        <div class="twitter-button">
          <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text=Write%20a%20letter%20to%20your%20elected%20representatives%3A&url=https%3A//www.writetogov.com">
          </a>
        </div>
      </div>
    </div>
  </md-toolbar>
</script>

<script type="text/ng-template" id="footer-template">
  <footer class="footer">
    &copy; 2016 writetogov.com
    <span class="email-link">
      <a href="mailto:info@writetogov.com">info@writetogov.com</a>
    </span>
    <a href="https://github.com/jlgoldman/writetogov">
      <img src="/static/img/github-icon.svg" class="github-icon"/>
    </a>
  </footer>
</script>

<script type="text/ng-template" id="rep-autocomplete-input-template">
  <md-autocomplete
    md-selected-item="form.selectedSearchItem"
    md-search-text="form.searchText"
    md-items="item in textSearch(form.searchText)"
    md-item-text="item.name"
    md-min-length="0"
    placeholder="e.g. 'nancy pelosi', 'california', 'ca 12th'">
    <md-item-template>
      <span md-highlight-text="form.searchText" md-highlight-flags="i">
        [[item.name]] - [[item.stateName]] [[item.title]] [[item.districtOrdinal ? ' - ' + item.districtOrdinal + ' district' : '']]
      </span>
    </md-item-template>
  </md-autocomplete>
</script>

<script type="text/ng-template" id="rep-card-template">
  <md-card class="rep-card">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">
          <span ng-if="rep['status'] == RepStatus.LEFT_CONGRESS">(Vacant)</span>
          <span ng-if="rep['status'] != RepStatus.LEFT_CONGRESS">
            [[rep['title_short'] ]] [[rep['first_name'] ]] [[rep['last_name'] ]]
          </span>
        </span>
        <span ng-if="extraTitle" md-colors="{color:'accent'}">[[extraTitle]]</span>
        <span class="md-subhead">
          [[rep['state_name'] ]]
          <span ng-if="rep['chamber'] == 'HOUSE'">
            [[rep['district_ordinal'] ]] District
          </span>
          ([[rep['party_code'] ]])
        </span>
        <span ng-if="statusMessage" md-colors="{color:'warn'}">[[statusMessage]]</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media rep-photo-wrapper">
          <img ng-src="[[rep['photo_url'] ]]" class="rep-photo"/>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <div ng-repeat="line in rep['address_dc_lines']">
        [[line]]
      </div>
      <div class="phone">
        <a ng-href="tel:[[rep['phone_dc'] ]]" md-colors="{color:'primary'}">[[rep['phone_dc'] ]]</a>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center" ng-if="!hideActions">
      <a ng-href="/compose/[[rep['rep_id'] ]]">
        <md-button class="md-primary md-raised">Write a Letter</md-button>
      </a>
    </md-card-actions>
  </md-card>
</script>
