<script type="text/ng-template" id="navbar-template">
  <md-toolbar class="header-toolbar">
    <div layout="row" flex>
      <div flex="50">
        <a href="/" class="header-link">
          <img src="/static/img/logo-white.svg" class="header-logo"/>
          <span hide-xs>
            Write to the Government
          </span>
          <span hide-gt-xs>
            Write to the Gov.
          </span>
        </a>
      </div>
      <div flex="50" class="social-widgets">
        <div class="fb-like" data-href="https://www.writetogov.com" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        <div class="twitter-button">
          <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text=Write%20a%20letter%20to%20your%20elected%20representatives%3A&url=https%3A//www.writetogov.com">
          </a>
        </div>
      </div>
    </div>
  </md-toolbar>
</script>

<script type="text/ng-template" id="footer-template">
  <footer class="footer">
    &copy; 2016 writetogov.com
    <span class="email-link">
      <a href="mailto:info@writetogov.com">info@writetogov.com</a>
    </span>
    <a href="https://github.com/jlgoldman/writetogov">
      <img src="/static/img/github-icon.svg" class="github-icon"/>
    </a>
  </footer>
</script>
