{% extends 'base.html' %}

{% block ng_app %}mainApp{% endblock %}

{% set common_description = 'writetogov.com makes it fast and simple to write and mail a letter to your elected representatives.' %}

{% if page_type == PageType.DISTRICT and lookup_response and lookup_response.house_rep %}
  {% set og_title = "%s\'s %s District" | format(lookup_response.house_rep.state_name, lookup_response.house_rep.district_ordinal) %}
  {% set title = '%s - Write to the Government' | format(og_title) %}
  {% set description = "Write a letter to the representatives of %s\'s %s district. %s" | format(lookup_response.house_rep.state_name, lookup_response.house_rep.district_ordinal, common_description) %}
  {% set og_image = None %}
{% elif page_type == PageType.COMPOSE and rep %}
  {% set og_title = 'Write to %s %s %s' | format(rep.title, rep.first_name, rep.last_name) %}
  {% set title = '%s - Write to the Government' | format(og_title) %}
  {% set description = 'Write to %s %s %s of %s. %s' | format(rep.title, rep.first_name, rep.last_name, rep.state_name, common_description) %}
  {% set og_image = 'https://writetogov.s3.amazonaws.com/images/rep/%d-social.jpg' | format(rep.rep_id) %}
{% else %}
  {% set title = 'Write to the Government - Write Your Elected Representatives' %}
  {% set og_title = title %}
  {% set description = 'Find your elected representatives and let them know what you think about issues by sending them a physical letter.' %}
  {% set og_image = None %}
{% endif %}

{% block title -%}
{% if title %}{{title}}{% else %}Write to the Government - Write Your Elected Representatives{% endif %}
{%- endblock %}

{% block extra_meta_tags %}
  <meta property="og:title"       content="{{og_title}}"/>
  <meta property="og:description" content="{{description}}"/>
  <meta property="og:image"       content="{{og_image or 'https://www.writetogov.com/static/img/og-image-1200.jpg'}}"/>

  <meta name="twitter:url" content="{{canonical_url}}"/>
  <meta name="twitter:title" content="{{title}}"/>
  <meta name="twitter:description" content="{{description}}"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image" content="{{og_image or 'https://www.writetogov.com/static/img/og-image-1200.jpg'}}"/>
{% endblock %}

{% block content %}
<ng-include src="'navbar-template'"></ng-include>
<ng-view></ng-view>
<ng-include src="'footer-template'"></ng-include>
{% endblock %}

{% block extra_scripts %}
<script type="text/ng-template" id="navbar-template">
  <md-toolbar class="header-toolbar">
    <div layout="row" flex>
      <div flex="50">
        <a href="/" class="header-link">
          <img src="/static/img/logo-white.svg" class="header-logo"/>
          <span hide-xs>
            Write to the Government
          </span>
          <span hide-gt-xs>
            Write to the Gov.
          </span>
        </a>
      </div>
      <div flex="50" class="social-widgets">
        <div class="fb-like" data-href="https://www.writetogov.com" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        <div class="twitter-button">
          <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text=Write%20a%20letter%20to%20your%20elected%20representatives%3A&url=https%3A//www.writetogov.com">
          </a>
        </div>
      </div>
    </div>
  </md-toolbar>
</script>

<script type="text/ng-template" id="footer-template">
  <footer class="footer">
    &copy; 2016 writetogov.com
    <span class="email-link">
      <a href="mailto:info@writetogov.com">info@writetogov.com</a>
    </span>
    <a href="https://github.com/jlgoldman/writetogov">
      <img src="/static/img/github-icon.svg" class="github-icon"/>
    </a>
  </footer>
</script>

<script type="text/ng-template" id="index-template">
  <div ng-controller="IndexCtrl">
    <div class="container index-search-container">
      <div class="tagline-1">
        In this digital age, do something old-fashioned:
      </div>
      <div class="tagline-2">
        Write and mail a letter to your elected representatives.
      </div>

      <div class="search-panel">
        <div ng-show="state.searchMode == SearchMode.ADDRESS && !state.loading">
          <div>Enter your address to look up your representatives</div>

          <div class="address-input-wrapper">
            <input type="text" ng-model="form.address"
              class="address-input" placeholder="Address"
              google-place-autocomplete on-select="placeSelected($place)"
              autofocus/>
          </div>

          <div class="search-toggle">
            <a href="javascript:void(0)" ng-click="setSearchMode(SearchMode.TEXT)"
              md-colors="{color:'primary'}" class="search-toggle-link">
              Or search by representative name, state, or district
            </a>
          </div>
        </div>

        <div ng-show="state.searchMode == SearchMode.TEXT && !state.loading">
          <div>Search by representative name, state name, or district</div>
          <md-autocomplete
            md-selected-item="form.selectedSearchItem"
            md-search-text="form.searchText"
            md-items="item in textSearch(form.searchText)"
            md-item-text="item.name"
            md-min-length="0"
            placeholder="e.g. 'nancy pelosi', 'california', 'ca 12th'">
            <md-item-template>
              <span md-highlight-text="form.searchText" md-highlight-flags="i">
                [[item.name]] - [[item.stateName]] [[item.title]] [[item.districtOrdinal ? ' - ' + item.districtOrdinal + ' district' : '']]
              </span>
            </md-item-template>
          </md-autocomplete>
          <div class="search-toggle">
            <a href="javascript:void(0)" ng-click="setSearchMode(SearchMode.ADDRESS)"
              md-colors="{color:'primary'}" class="search-toggle-link">
              Or search by address
            </a>
          </div>
        </div>
      </div>

      <md-progress-circular md-mode="indeterminate" ng-show="state.loading" class="center-progress">
      </md-progress-circular>
    </div>
    <div class="container index-desc-container">
      <div class="centered-block">
        <p>
          Change can only be achieved by those who are vocal.
          Don't be complacent: let your elected officials know what you think about issues.
        </p>
        <p>
          This tool aims to make contacting your representatives as fast and easy
          as possible. It only takes a few minutes; write now and write often.
        </p>
      </div>
    </div>
    <div class="container index-how-it-works-container">
      <div class="headline">How it Works</div>
      <div class="centered-block">
        <p>
          Start by looking up who represents you in Congress. Enter your address to see the House
          representative from your district and your two senators, as well as the
          House and Senate leadership.
        </p>
        <p>
          writetogov.com maintains a list of all representatives and their contact
          information at their Washington DC office. (We are currently compiling a list
          of contact info for local district offices and would love your help.)
        </p>
        <p>
          You can then compose a brief letter here on the site, then merely click a
          button to generate a properly-headed and addressed PDF which you can then
          print and mail. Alternatively for maximum simplicity, we can print and send the letter for you, using lob.com, for a small fee to cover costs.
        </p>
      </div>
    </div>
    <div class="container index-reminder-container">
      <div class="headline">
        Maximize your impact by contacting your representatives regularly
      </div>
      <div class="reminder-form-panel">
        <p>
          Sign up to get a periodic reminder to write another letter:
        </p>
        <div ng-include="'reminder-form-template'">
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="reminder-form-template">
  <div class="md-inline-form reminder-form" layout="column" ng-controller="ReminderCtrl">
    <div layout="row" flex layout-align="center start">
      <md-input-container flex="70" flex-xs="60"
        class="md-block hide-error-msg hack-email-alignment">
        <label>Email</label>
        <input type="email" ng-model="form.email"/>
      </md-input-container>
      <md-input-container flex="30" flex-xs="40" class="md-block">
        <label>Frequency</label>
        <md-select ng-model="form.frequency">
          <md-option value="[[Frequency.WEEKLY]]">
            Weekly
          </md-option>
          <md-option value="[[Frequency.MONTHLY]]">
            Monthly
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div class="submit-button">
      <md-button class="md-primary md-raised" ng-click="submit()"
        ng-disabled="!formValid() || submitting || success">
        Submit
      </md-button>
    </div>
    <md-progress-circular md-mode="indeterminate" ng-show="submitting" class="center-progress">
    </md-progress-circular>
    <div ng-if="success" md-colors="{color:'primary'}">
      Thank you for signing up for reminders! You'll receive an email each
      [[form.frequency == Frequency.WEEKLY ? 'week' : 'month']]
      with a link to return and write another letter. You may opt out any time.
    </div>
    <div ng-if="error" md-colors="{color:'warn'}">
      There was an error subscribing you for reminders. Please try again.
    </div>
  </div>
</script>

<script type="text/ng-template" id="district-template">
  <div class="container district-container" ng-controller="DistrictCtrl">
    <md-progress-circular md-mode="indeterminate" ng-show="state.loading" class="center-progress">
    </md-progress-circular>
    <div ng-if="!state.loading">
      <div ng-if="repResults.houseRep">
        <h1 class="district-header">Your Representatives</h1>
        <div layout="row" layout-wrap layout-align="center none">
          <rep-card rep="repResults.houseRep"></rep-card>
          <rep-card ng-repeat="rep in repResults.senators" rep="rep"></rep-card>
        </div>
      </div>
      <h1 ng-if="!repResults.houseRep" class="invalid-district" md-colors="{color:'warn'}">
        Oops, it doesn't look like this is a valid congressional district.
      </h1>
      <h2 class="leadership-header">
        Consider also writing to congressional leadership:
      </h2>
      <div layout="row" layout-wrap layout-align="center none">
        <rep-card ng-if="repResults.houseSpeaker" rep="repResults.houseSpeaker"
          extra-title="Speaker of the House">
        </rep-card>
        <rep-card ng-if="repResults.senateMajorityLeader" rep="repResults.senateMajorityLeader"
          extra-title="Senate Majority Leader">
        </rep-card>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="compose-template">
  <div class="container compose-container" ng-controller="ComposeCtrl">
    <md-progress-circular md-mode="indeterminate" ng-show="state.loading" class="center-progress">
    </md-progress-circular>
    <div ng-if="!state.loading">
      <h1 class="compose-page-title">
        Write a letter to [[rep['first_name'] ]] [[rep['last_name'] ]]
      </h1>
      <div layout-gt-sm="row" layout="column" flex layout-align="center start">
        <div flex-gt-sm="60" flex="auto" class="compose-column" flex-order-gt-sm="1" flex-order="2">
          <div class="compose-wrapper" ng-show="!state.composeComplete && !state.mailFormOpen">
            <div class="compose-header">
              <div class="compose-header-section">
                [[currentDate | date: 'longDate']]
              </div>
              <div class="compose-header-section">
                [[rep['title'] ]] [[rep['first_name'] ]] [[rep['last_name'] ]]
                <div ng-repeat="line in rep['address_dc_lines']">
                  [[line]]
                </div>
              </div>
              <div class="compose-header-section">
                Dear [[rep['title'] ]] [[rep['last_name'] ]]:
              </div>
            </div>
            <md-input-container class="md-block">
              <label>Body</label>
              <textarea ng-model="form.body" rows="7"></textarea>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Your Name and Address</label>
              <textarea ng-model="form.nameAndAddress" rows="5"></textarea>
            </md-input-container>
          </div>
          <div class="compose-button-panel" ng-show="!state.composeComplete && !state.mailFormOpen">
            <form action="/letter" method="POST" target="_blank" class="generate-form">
              <input type="text" ng-model="form.repId" style="display:none" name="rep_id"/>
              <textarea ng-model="form.body" style="display:none" name="body"></textarea>
              <textarea ng-model="form.nameAndAddress" style="display:none" name="name_and_address"></textarea>
              <input type="text" style="display:none" name="include_address_page" value="1"/>
              <md-button class="md-raised md-primary" type="submit"
                ng-click="pdfDownloaded()"
                ng-disabled="!isFormComplete()">
                Generate PDF to Print
              </md-button>
            </form>
            <md-button class="md-raised" ng-disabled="!isFormComplete()" ng-click="openMailForm()">
              Have Us Print and Mail
            </md-button>
          </div>

          <div class="mail-form-panel" ng-if="state.mailFormOpen" ng-controller="MailFormCtrl">
            <div class="return-to-letter">
              <a href="javascript:void(0)" ng-click="state.mailFormOpen = false">
                <i class="material-icons">keyboard_arrow_down</i>
                Return to letter
              </a>
            </div>

            <p>
              We can have your letter printed and mailed on your behalf.
              This uses the letter-mailing service lob.com, incurring
              a small fee simply to cover costs.
            </p>
            <div>
              <form action="/letter" method="POST" target="_blank">
                <input type="text" ng-model="form.repId" style="display:none" name="rep_id"/>
                <textarea ng-model="form.body" style="display:none" name="body"></textarea>
                <textarea ng-model="form.nameAndAddress" style="display:none" name="name_and_address"></textarea>
                <input type="text" style="display:none" name="include_address_page" value="0"/>

                First, preview your letter to make sure it looks as you intend:
                <div class="preview-button">
                  <md-button class="md-raised" type="submit">Preview</md-button>
                </div>
              </form>
            </div>
            <p>
              Then simply enter billing information and confirm:
            </p>
            <rep-stripe-form rep="rep" body="form.body" name-and-address="form.nameAndAddress"
              button-text="Enter Billing Info"
              on-complete="mailSendComplete($response)">
            </rep-stripe-form>

            <div class="address-preview">
              <p>
                Letters can only be sent from valid US addresses. From the letter above
                we've parsed your address as the following:
              </p>
              <md-progress-circular md-mode="indeterminate" ng-show="loadingAddress" class="center-progress">
              </md-progress-circular>
              <div ng-if="parsedAddress">
                <div><label>Name:</label> [[parsedAddress['name'] ]]</div>
                <div><label>Address:</label> [[parsedAddress['line1'] ]]</div>
                <div><label>City:</label> [[parsedAddress['city'] ]]</div>
                <div><label>State:</label> [[parsedAddress['state'] ]]</div>
                <div><label>ZIP:</label> [[parsedAddress['zip'] ]]</div>
              </div>
              <p>
                If this is incorrect please
                <a href="javascript:void(0)" ng-click="state.mailFormOpen = false" md-colors="{color:'primary'}">
                  return to the letter
                </a>
                and correct your address.
              </p>
            </div>

            <p class="fees">
              Our letter-mailing service lob.com charges $1.05 per letter
              (including an address page) + $0.10 per extra page.
              Our payment processor Stripe charges $0.30 + 2.9% per transaction. The extra ~$0.10 is used to cover the cost of operating our servers.
              We will work to negotiate lower mailing and transaction fees over time.
            </p>
          </div>

          <div class="after-compose-panel" ng-if="state.composeComplete">
            <div class="return-to-letter">
              <a href="javascript:void(0)" ng-click="state.composeComplete = false">
                <i class="material-icons">keyboard_arrow_down</i>
                Return to letter
              </a>
            </div>

            <p md-colors="{color:'primary'}" class="center-text md-headline">
              Thank you for being an involved citizen!
            </p>
            <p ng-if="state.completionType == CompletionType.PRINT">
              The PDF of your letter includes an optional address page that is
              pre-filled with the mailing address of your representative as well
              as your return address if you provided one above, so that you
              don't have to use and prepare an envelope.
              Print your letter (double-sided if your printer supports it),
              then simply put the address page on the outside, fold it up in thirds, staple the top, add a stamp, and you're good to go!
            </p>
            <p ng-if="state.completionType == CompletionType.MAIL">
              Your letter has been successfully queued for sending, and is expected to arrive on [[mailSendResponse['expected_delivery_date'] ]].
              You can view the letter as it will be mailed
              <a ng-href="[[mailSendResponse['lob_pdf_url'] ]]" target="_blank"
                md-colors="{color:'primary'}">
                here</a>.
            </p>

            <div class="compose-reminder-panel">
              <div md-colors="{color:'primary'}" class="center-text md-title">
                Maximize your impact by staying involved
              </div>
              <div class="center-text">
                Sign up to be reminded to send another letter again in the future:
              </div>
              <div ng-include="'reminder-form-template'">
              </div>
            </div>
          </div>
        </div>
        <div flex-gt-sm="40" flex="auto" flex-order-gt-sm="2" flex-order="1" flex-offset-gt-sm="5">
          <div layout="column" layout-align="center start">
            <div class="compose-rep-card">
              <rep-card rep="rep" hide-actions="true" margin-auto></rep-card>
            </div>
            <div class="compose-tips">
              <h3 class="tips-title">Tips</h3>
              <ul>
                <li>Pick a single issue and keep the letter focused solely on that. Be brief.</li>
                <li>State your central point clearly up front.</li>
                <li>
                  Your letter will most likely be read and tallied by a staffer;
                  writing with empathy towards them and the fact that they
                  see countless letters may help get you get heard.
                </li>
                <li>
                  Put your full name and address to show that your letter is credible
                  and that you are a constituent. Consider including your
                  phone number and email address as well.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="rep-card-template">
  <md-card class="rep-card">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">
          <span ng-if="rep['status'] == RepStatus.LEFT_CONGRESS">(Vacant)</span>
          <span ng-if="rep['status'] != RepStatus.LEFT_CONGRESS">
            [[rep['title_short'] ]] [[rep['first_name'] ]] [[rep['last_name'] ]]
          </span>
        </span>
        <span ng-if="extraTitle" md-colors="{color:'accent'}">[[extraTitle]]</span>
        <span class="md-subhead">
          [[rep['state_name'] ]]
          <span ng-if="rep['chamber'] == 'HOUSE'">
            [[rep['district_ordinal'] ]] District
          </span>
          ([[rep['party_code'] ]])
        </span>
        <span ng-if="statusMessage" md-colors="{color:'warn'}">[[statusMessage]]</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media rep-photo-wrapper">
          <img ng-src="[[rep['photo_url'] ]]" class="rep-photo"/>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <div ng-repeat="line in rep['address_dc_lines']">
        [[line]]
      </div>
      <div class="phone">
        <a ng-href="tel:[[rep['phone_dc'] ]]" md-colors="{color:'primary'}">[[rep['phone_dc'] ]]</a>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center" ng-if="!hideActions">
      <a ng-href="/compose/[[rep['rep_id'] ]]">
        <md-button class="md-primary md-raised">Write a Letter</md-button>
      </a>
    </md-card-actions>
  </md-card>
</script>

<script type="text/ng-template" id="rep-stripe-form-template">
  <div class="rep-stripe-form">
    <div ng-if="!submitting">
      <md-button class="md-primary md-raised" ng-click="openStripeCheckout()">
        [[buttonText]]
      </md-button>
    </div>
    <md-progress-circular md-mode="indeterminate" ng-show="submitting" class="center-progress">
    </md-progress-circular>
    <div ng-if="errors && errors.length">
      <p ng-repeat="error in errors" md-colors="{color:'warn'}">
        [[error['message'] ]]
      </p>
    </div>
  </div>
</script>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key={{google_maps_api_key}}"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
  initMain({{client_config | tojson}});
</script>

{# Social widgets #}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1632711647048612";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
{% endblock %}
