{% extends 'base.html' %}

{% block ng_app %}mainApp{% endblock %}

{% block title %}WriteToGov - Write Your Elected Representatives{% endblock %}

{% block content %}
<ng-include src="'navbar-template'"></ng-include>
<ng-view></ng-view>
<ng-include src="'footer-template'"></ng-include>
{% endblock %}

{% block extra_scripts %}
<script type="text/ng-template" id="navbar-template">
  <md-toolbar>
    <div layout="row" flex>
      <div flex="30">
        <a href="/">WriteToGov</a>
      </div>
    </div>
  </md-toolbar>
</script>

<script type="text/ng-template" id="footer-template">
  <md-toolbar class="footer-toolbar">
    &copy; 2016 writetogov.com
  </md-toolbar>
</script>

<script type="text/ng-template" id="index-template">
  <div class="container index-container" ng-controller="IndexCtrl">
    <div>
      In this digital age, do something old-fashioned:
      <br/>
      Write and mail a letter to your elected representatives.
    </div>

    <div ng-show="state.searchMode == SearchMode.ADDRESS && !state.loading">
      <div>Enter your address to see who represents you</div>

      <input type="text" ng-model="form.address"
        class="address-input" placeholder="Address"
        google-place-autocomplete on-select="placeSelected($place)"
        autofocus/>

      <div>
        <a href="javascript:void(0)" ng-click="state.searchMode = SearchMode.TEXT">
          Or search by representative name, state, or district
        </a>
      </div>
    </div>

    <div ng-show="state.searchMode == SearchMode.TEXT && !state.loading">
      <div>Search by representative name, state name, or district</div>
      <md-autocomplete
        md-selected-item="form.selectedSearchItem"
        md-search-text="form.searchText"
        md-items="item in textSearch(form.searchText)"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="e.g. 'nancy pelosi', 'california', 'ca 12th'">
        <md-item-template>
          <span md-highlight-text="form.searchText" md-highlight-flags="i">
            [[item.name]] - [[item.stateName]] [[item.title]] [[item.districtOrdinal ? ' - ' + item.districtOrdinal + ' district' : '']]
          </span>
        </md-item-template>
      </md-autocomplete>

    </div>
    <md-progress-circular md-mode="indeterminate" ng-show="state.loading">
    </md-progress-circular>
  </div>
</script>

<script type="text/ng-template" id="district-template">
  <div class="container district-container" ng-controller="DistrictCtrl">
    <md-progress-circular md-mode="indeterminate" ng-show="state.loading">
    </md-progress-circular>
    <div ng-if="!state.loading">
      <h1 class="district-header">Your Representatives</h1>
      <div layout="row" layout-wrap layout-align="center none">
        <rep-card rep="repResults.houseRep"></rep-card>
        <rep-card ng-repeat="rep in repResults.senators" rep="rep"></rep-card>
      </div>
      <h2 class="leadership-header">
        Consider also writing to congressional leadership:
      </h2>
      <div layout="row" layout-wrap layout-align="center none">
        <rep-card ng-if="repResults.houseSpeaker" rep="repResults.houseSpeaker"
          extra-title="Speaker of the House">
        </rep-card>
        <rep-card ng-if="repResults.senateMajorityLeader" rep="repResults.senateMajorityLeader"
          extra-title="Senate Majority Leader">
        </rep-card>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="rep-page-template">
  <div class="container district-container" ng-controller="RepPageCtrl">
    <md-progress-circular md-mode="indeterminate" ng-show="state.loading">
    </md-progress-circular>
    <div ng-if="!state.loading">
      <rep-card rep="rep"></rep-card>
    </div>
  </div>
</script>

<script type="text/ng-template" id="rep-card-template">
  <md-card class="rep-card">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">
          <span ng-if="rep['status'] == RepStatus.VACANT">(Vacant)</span>
          <span ng-if="rep['status'] != RepStatus.VACANT">[[rep['first_name'] ]] [[rep['last_name'] ]]</span>
        </span>
        <span ng-if="extraTitle" md-colors="{color:'accent'}">[[extraTitle]]</span>
        <span class="md-subhead">
          [[rep['title'] ]] - [[rep['state_name'] ]]
          <span ng-if="rep['chamber'] == 'HOUSE'">[[rep['district_ordinal'] ]] District</span>
        </span>
        <span ng-if="statusMessage" md-colors="{color:'warn'}">[[statusMessage]]</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-md card-media">
          <img ng-src="[[rep['photo_url'] ]]" class="rep-photo"/>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <div ng-repeat="line in rep['address_dc_lines']">
        [[line]]
      </div>
      <div class="phone">
        <a ng-href="tel:[[rep['phone_dc'] ]]" md-colors="{color:'primary'}">[[rep['phone_dc'] ]]</a>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-primary md-raised">Write a Letter</md-button>
    </md-card-actions>
  </md-card>
</script>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

<script>
  initMain({{client_config | tojson}});
</script>
{% endblock %}
