<!DOCTYPE html>
<html>
<head>
  <title>{% block subject %}{% endblock %}</title>
  <style>
    .cta-button {
      background-color: #607D8B;
      color: #ffffff;
      display: inline-block;
      cursor: pointer;
      min-height: 36px;
      min-width: 88px;
      line-height: 36px;
      vertical-align: middle;
      text-align: center;
      border-radius: 3px;
      box-sizing: border-box;
      border: 0;
      padding: 0 6px;
      margin: 6px 8px;
      font-weight: bold;
      text-decoration: none;
    }
  </style>
</head>

<body>

<table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#FAFAFA">
  <tr>
    <td width="100%" style="width: 100%">
      <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center" bgcolor="#607D8B"
        style="background-color: #607D8B; width: 100%; min-width: 100%">
        <table cellspacing="0" cellpadding="0" border="0" width="100%" style="width: 100%; min-width: 100%">
          <tr>
            <td height="10px" width="100%" style="border-collapse: collapse">
              &nbsp;
            </td>
          </tr>
          <tr height="50px">
            <td style="border-collapse: collapse" align="center" width="252px" height="50px">
              <img src="https://www.writetogov.com/static/img/email-text-logo.png"/>
            </td>
          </tr>
          <tr>
            <td height="10px" width="100%" style="border-collapse: collapse">
              &nbsp;
            </td>
          </tr>
        </table>
      </table>
      <table height="30px" width="100%" bgcolor="#FAFAFA">
      </table>
      <center>
        <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="600px" style="border-collapse: collapse; max-width: 90%" color="#31373d">
          <tr>
            <td width="40px" style="border-collapse: collapse">
            </td>
            <td bgcolor="#ffffff" height="40px" style="border-collapse: collapse">
              &nbsp;
            </td>
            <td width="40px" style="border-collapse: collapse">
            </td>
          </tr>
          <tr>
            <td width="40px" style="border-collapse: collapse">
            </td>
            <td>
              {% block message %}
              {% endblock %}
              <table>
                <tr>
                  <td>
                    {% block signature %}{% endblock %}
                  </td>
                </tr>
              </table>
            </td>
            <td width="40px" style="border-collapse: collapse">
            </td>
          </tr>
          <tr>
            <td width="40px" style="border-collapse: collapse">
            </td>
            <td bgcolor="#ffffff" height="40px" style="border-collapse: collapse">
              &nbsp;
            </td>
            <td width="40px" style="border-collapse: collapse">
            </td>
          </tr>
        </table>
      </center>
      <table height="30px" width="100%" bgcolor="#FAFAFA">
      </table>
    </td>
  </tr>
</table>

</body>
</html>
