<!DOCTYPE html>
<html>
<head>
  <title>{% block subject %}{% endblock %}</title>
  <style>
    .cta-button {
      background-color: #607D8B;
      color: #ffffff;
      display: inline-block;
      cursor: pointer;
      min-height: 36px;
      min-width: 88px;
      line-height: 36px;
      vertical-align: middle;
      text-align: center;
      border-radius: 3px;
      box-sizing: border-box;
      border: 0;
      padding: 0 6px;
      margin: 6px 8px;
      font-weight: bold;
      text-decoration: none;
    }
  </style>
</head>

<body>

<table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#FAFAFA">
  <tr>
    <td>
      <table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#607D8B">
        <center>
          <table cellspacing="0" cellpadding="0" border="0" width="252px">
            <tr>
              <td height="10px" width="100%" style="border-collapse: collapse">
              </td>
            </tr>
            <tr height="50px">
              <td style="border-collapse: collapse">
                <img src="https://www.writetogov.com/static/img/email-text-logo.png"/>
              </td>
            </tr>
            <tr>
              <td height="10px" width="100%" style="border-collapse: collapse">
              </td>
            </tr>
          </table>
        </center>
      </table>
      <table height="30px" width="100%" bgcolor="#FAFAFA">
      </table>
      <center>
        <table cellspacing="0" cellpadding="0" border="0" width="600px">
          <tr>
            <td bgcolor="#ffffff" height="40px" width="600px" style="border-collapse: collapse">
            </td>
          </tr>
        </table>
        <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="600px" style="border-collapse: collapse" color="#31373d">
          <tr>
            <td bgcolor="#ffffff" width="40px" style="border-collapse: collapse">
            </td>
            <td width="20px">
            </td>
            <td>
              {% block message %}
              {% endblock %}
              <table>
                <tr>
                  <td>
                    {% block signature %}{% endblock %}
                  </td>
                </tr>
              </table>
            </td>
            <td width="20px">
            </td>
            <td bgcolor="#ffffff" width="40px" style="border-collapse: collapse">
            </td>
          </tr>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" width="600px">
          <tr>
            <td bgcolor="#ffffff" height="40px" width="600px" style="border-collapse: collapse">
            </td>
          </tr>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" width="600px">
          <tr>
            <td bgcolor="#FAFAFA" height="30px" width="600px" style="border-collapse: collapse">
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

</body>
</html>
