<table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#ebeef0">
  <tr>
    <td>
      <table cellspacing="0" cellpadding="0" border="0" width="100%" bgcolor="#212529">
        <center>
          <table cellspacing="0" cellpadding="0" border="0" width="182px">
            <tr>
              <td height="40px" width="100%" style="border-collapse: collapse">
              </td>
            </tr>
            <tr height="40px">
              <td style="border-collapse: collapse">
                <img src="https://www.writetogov.com/static/img/logo-white.svg"/>
              </td>
            </tr>
            <tr>
              <td height="40px" width="100%" style="border-collapse: collapse">
              </td>
            </tr>
          </table>
        </center>
      </table>
      <table height="80px" width="100%" bgcolor="#ebeef0">
      </table>
      <center>
        <table cellspacing="0" cellpadding="0" border="0" width="600px">
          <tr>
            <td bgcolor="#ffffff" height="40px" width="600px" style="border-collapse: collapse">
            </td>
          </tr>
        </table>
        <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="600px" style="border-collapse: collapse" color="#31373d">
          <tr>
            <td bgcolor="#ffffff" width="40px" style="border-collapse: collapse">
            </td>
            <td width="20px">
            </td>
            <td>
              {% block message %}
              {% endblock %}
              <table>
                <tr>
                  <td>
                    The team at writetogov.com
                  </td>
                </tr>
              </table>
            </td>
            <td width="20px">
            </td>
            <td bgcolor="#ffffff" width="40px" style="border-collapse: collapse">
            </td>
          </tr>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" width="600px">
          <tr>
            <td bgcolor="#ffffff" height="40px" width="600px" style="border-collapse: collapse">
            </td>
          </tr>
        </table>
        <table cellspacing="0" cellpadding="0" border="0" width="600px">
          <tr>
            <td bgcolor="#ebeef0" height="80px" width="600px" style="border-collapse: collapse">
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>
