{% extends 'email/base_message.html' %}

{% block subject %}{{subject}}{% endblock %}

{% block message %}
  <table>
    <tr>
      <td>
        This is a confirmation that you signed up to receive
        {% if frequency == 'w' %}weekly{% else %}monthly{% endif %}
        reminders to write to your elected representatives
        at <a href="https://www.writetogov.com">www.writetogov.com</a>.
      </td>
    </tr>
  </table>
  <table height="20px">
  </table>

  <table>
    <tr>
      <td>
        If this is correct, there's nothing you need to do.
      </td>
    </tr>
  </table>
  <table height="20px">
  </table>

  <table>
    <tr>
      <td>
        If you did not request this or you no longer want reminders, simply click
        <a href="{{unsubscribe_url}}">here</a> to opt out.
      </td>
    </tr>
  </table>
  <table height="20px">
  </table>


  <table>
    <tr>
      <td>
        Want to encourage others to get involved? Send the url https://www.writetogov.com or share on social media:
      </td>
    </tr>
  </table>
  <table height="20px">
  </table>

  <center>
    <table>
      <tr>
        <td>
          <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.writetogov.com">
            <img src="https://www.writetogov.com/static/img/fb-square.png"/>
          </a>
        </td>
        <td>
          <a href="https://twitter.com/intent/tweet?text=Write%20a%20letter%20to%20your%20elected%20representatives%3A&url=https%3A%2F%2Fwww.writetogov.com">
            <img src="https://www.writetogov.com/static/img/twitter-square.png"/>
          </a>
        </td>
      </tr>
    </table>
  </center>
{% endblock %}
